{% extends "header.html" %}
{% block content %}
{% load static %}

    <!-- header-section-starts -->
	<div class="header">
		<div class="header-top">
			<div class="container">
				<p class="location"><i class="location"></i>  {% include 'loc.html' %}</p>
				<p class="phonenum">{% include 'num.html' %}</p>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="container">
				<div class="logo">
					{% include 'logo.html' %}
				</div>
				<span class="menu"></span>
				<div class="top-menu">
					<ul>
					<nav class="cl-effect-5">
						<li><a href="/" data-hover="HOME">Home</a></li>
						<li><a  class="active"  href="/login" >Login</a></li>
						<li><a href="/Customer_register" d>User Registration </a></li>
						<li><a href="/Adoption_center_register" d>Adoption Center Registration </a></li>
					</nav>
					</ul>
				</div>
				<!-- script for menu -->
				<script>
				$( "span.menu" ).click(function() {
				  $( ".top-menu" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>
			<!-- script for menu -->
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- header-section-ends -->
	<!-- content-section-starts -->
	<div class="content">
		<div class="main">
			<div class="container">
				<div style="margin: auto; width: 50%;">
			         <div class="contact-form ">
				  	   <h2>Login</h2>
						 {% if messages %}
						 <ul class="messages">
							 {% for message in messages %}
						   <div class="alert alert-danger"> {{message }}</div>
							 {% endfor %}
						 </ul>
						 {% endif %}

					     <form method="post" action="/login_action/" id="myform">
							{% csrf_token %}
					    	<div>
						    	<span><label>Username</label></span>
						    	<span><input name="username" type="text" class="form-control"></span>
						    </div>
						    <div>
						    	<span><label>Password</label></span>
						    	<span><input name="password" type="password" class="form-control"></span>
						    </div>
                            <div class="col-sm-12" style="text-align: center;">
                                <span><input type="submit" value="Login" class="myButton"></span>
                       </div>
					    </form>

					    <div class="clearfix"></div>
				  </div>
				</div>

	          </div>

		</div>
	</div>
	<script src="{% static 'assets/Validation/jquery-1.11.1.min.js' %}"></script>
						<script src="{% static 'assets/Validation/jquery_validate.js' %}"></script>
						<script src="{% static 'assets/Validation/additional_validate.js' %}"></script>
<script>
	(function ($, W, D)
  {
  var JQUERY4U = {};
  JQUERY4U.UTIL =
      {
          setupFormValidation: function ()
          {
            $.validator.addMethod(
    "regex",
    function(value, element, regexp) {
        var check = false;
        return this.optional(element) || regexp.test(value);
    },
    "Not a valid Input."
);

          //form validation rules
          $("#myform").validate({
			rules: {

								username: {
									required: true,


								},
								password: {
									required: true,


								},

							  },
							  messages: {



              },
              submitHandler: function (form) {
              form.submit();
              }
          });
        }
      }
  //when the dom has loaded setup form validation rules
  $(D).ready(function ($) {
      JQUERY4U.UTIL.setupFormValidation();
  });
  })(jQuery, window, document);
</script>
	{% endblock %}
	<!-- content-section-ends -->
	<!-- footer-section-starts -->
